In [ ]:

import pandas as pd

In [ ]:

parent= pd.read_excel (r'Parent Table.xlsx')

In [ ]:
parent

   Id      Vegetable  Import Rate  Export Rate
0   1         Potato           20           60
1   2        Brinjal           15           45
2   3   Bitter Gourd           18           55
3   4  Ladies Finger           21           60
4   5          Onion           95          275

In [ ]:
imp = pd.read_excel(r'Import Discount Table.xlsx')
exp = pd.read_excel(r'Expot tax Table.xlsx')

In [ ]:
imp

       Vegetable  Discount Amount (Rs)
0         Potato                     5
1        Brinjal                     7
2   Bitter Gourd                     9
3  Ladies Finger                    11
4          Onion                    20

In [ ]:
exp

       Vegetable  Tax Percentage
0         Potato             0.1
1        Brinjal             0.1
2   Bitter Gourd             0.1
3  Ladies Finger             0.1
4          Onion             0.1

In [ ]:
output = pd.DataFrame(columns = ['VegetableName', 'ImportAmount','ExportAmount'])

In [ ]:
output

Empty DataFrame
Columns: [VegetableName, ImportAmount, ExportAmount]
Index: []

In [ ]:
combined=pd.concat([parent,imp,exp],axis=1)

In [ ]:
combined

   Id      Vegetable  ...      Vegetable  Tax Percentage
0   1         Potato  ...         Potato             0.1
1   2        Brinjal  ...        Brinjal             0.1
2   3   Bitter Gourd  ...   Bitter Gourd             0.1
3   4  Ladies Finger  ...  Ladies Finger             0.1
4   5          Onion  ...          Onion             0.1

[5 rows x 8 columns]

In [ ]:
combined=combined.T.drop_duplicates().T

In [ ]:
combined

  Id      Vegetable Import Rate Export Rate Discount Amount (Rs) Tax Percentage
0  1         Potato          20          60                    5            0.1
1  2        Brinjal          15          45                    7            0.1
2  3   Bitter Gourd          18          55                    9            0.1
3  4  Ladies Finger          21          60                   11            0.1
4  5          Onion          95         275                   20            0.1

In [ ]:
for i in combined.index:
  output.loc[i,'VegetableName']=combined.loc[i,'Vegetable']
  output.loc[i,'ImportAmount']=(int(combined.loc[i,'Import Rate'])-int(combined.loc[i,'Discount Amount (Rs)']))
  output.loc[i,'ExportAmount']=(combined.loc[i,'Export Rate']+(combined.loc[i,'Tax Percentage']*combined.loc[i,'Export Rate']))

15
8
9
10
75

In [ ]:
output

   VegetableName ImportAmount ExportAmount
0         Potato           15         66.0
1        Brinjal            8         49.5
2   Bitter Gourd            9         60.5
3  Ladies Finger           10         66.0
4          Onion           75        302.5

In [ ]:
output.to_json("output.json", orient = 'records')